[submodule "deps/trivial"]
	path = deps/trivial
	url = https://github.com/grumply/trivial
	branch = master
[submodule "deps/tlc"]
	path = deps/tlc
	url = https://github.com/grumply/tlc.git
	branch = master
[submodule "deps/ef"]
	path = deps/ef
	url = https://github.com/grumply/ef.git
	branch = master
[submodule "deps/ef-base"]
	path = deps/ef-base
	url = https://github.com/grumply/ef-base.git
	branch = master
